.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  height: 100%;
}

.box div {
  background: transparent;
  width: 90%;
}

.logo-div {
  display: flex;
  background: red;
  width: 100%;
  text-align: center;
  justify-content: center;
}

