<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col
        class="ion-align-self-start"
        size-md="6"
        size-lg="5"
        size-xs="12"
      >
        <div class="ion-text-center">
          <img src="./assets/imgs/firebase_logo.png" alt="">
        </div>
        <div class="ion-padding">
          <ion-item color="light">
            <ion-input clearInput="true"
              type="text"
              [(ngModel)]="usuario"
              placeholder="usuario"
            ></ion-input>
          </ion-item>
          <br />
          <ion-item color="light">
            <ion-input clearInput="true"
              type="password"
              [(ngModel)]="password"
              placeholder="password"
            ></ion-input>
          </ion-item>
        </div>

        <div class="ion-padding">
          <ion-button
            color="warning"
            size="md"
            expand="block"
            (click)="login()"
            [disabled]="disabled"
            >Ingresar</ion-button
          >
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
